<div class="container">
    <section class=" d-flex flex-row justify-content-between mt-2">
        <div>
            
                <h1 class="mt-5 pb-3 pt-1">UserSAngular</h1>
                
        </div>
        <div class=" mt-5 pb-5 pt-2">
            <button class=" btn btn-dark" [routerLink]="['/control']">Acceder</button>
        </div>
    </section>
</div>
<div>
    <figure class="text-center ">
        <img class="img-fluid w-100 h-100" src="/images/fotoMain.png"
            alt="imagen de personas sentadas en una mesa de madera">
    </figure>
</div>

<div class="mt-5 container">
    <article class="text-center">
        <h2 class="mb-3"> ¿Quieres crear tu lista de contactos?</h2>
        <p class="mb-2">Sólo necesitas unos minutos para acceder a todos los detalles de tus usuarios</p>
        <p class="mb-4" >También podras editarlos, borrarlos o agregarlos de forma muy sencilla ¡ Sin complicaciones !</p>
    </article>
</div>